@{
    ViewBag.Title = "Home Page";
}

<h3>Vending Machine</h3>
@using (Html.BeginForm("InsertCoin", "Home", FormMethod.Post))
{
    <p><input id="insertCoin" type="submit" value="Insert Coin" /></p>
}
<div><p id="totalAmount">Balance: @ViewBag.Balance cents</p></div>

