@{
    ViewBag.Title = "Home Page";
}

<h3>Vending Machine</h3>

<form action="~/Home/InsertCoin" method="post">
    <p><input id="insertCoin" type="submit" value="Insert Coin" /></p>
</form>

<p><div id="totalAmount">Balance: @ViewBag.Balance cents</div></p>