@model Excella.Vending.Web.UI.Models.VendingMachineViewModel
@{
    ViewBag.Title = "Vending Machine";
}

<h3>Vending Machine</h3>
@using (Html.BeginForm("InsertCoin", "VendingMachine", FormMethod.Post))
{
    <p><input id="insertCoin" type="submit" value="Insert Coin" /></p>
}

@using (Html.BeginForm("ReleaseChange", "VendingMachine", FormMethod.Post))
{
    <p><input id="releaseChange" type="submit" value="Release Change" /></p>
}

<div><p id="totalAmount">Balance: <span id="balanceAmount">@Model.Balance</span> cents</p></div>
<div><p>Released Change: <span id="releasedChangeAmount">@Model.ReleasedChange</span> cents</p></div>

